<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the <%= title %></h1>
    <p>This service will help you in searching images on the internet. Based on the search input provided by you, this service will give you a list of urls of images pertaining to your search, in json format. The response will also contain other information about the images.</p><br>
    <h2>Instructions for use :</h2>
    <h3>Input</h3>
    <code style="color:green">https://search-img.herokuapp.com/search/nature</code>
    <h3>To paginate through the results use :</h3>
    <code style="color:green">https://search-img.herokuapp.com/search/nature?offset=5</code>
    <h3>To view your latest search inputs use :</h3>
    <code style="color:green">https://search-img.herokuapp.com/latest</code>
  </body>
</html>
